# You can use this file to setup the service locally, and start all the
# containers at once.
#
# Usage:
# - setup all the environment variables referenced below
# - install Docker Compose, see https://docs.docker.com/compose/install
# - open a console and `cd` into the folder that contains this file
# - run `docker-compose up`

version: "3"

services:
  iothubmanager:
    image: azureiotpcs/iothub-manager-java:testing
    ports:
      - "9002:9002"
    environment:
      - PCS_IOTHUB_CONNSTRING
      - PCS_CONFIG_WEBSERVICE_URL
