# For more info see https://help.github.com/articles/about-codeowners

# Order is important; the last matching pattern takes the most precedence.

LICENSE @timlaverty @dluc @ppathan

.gitattributes      @dluc @timlaverty
.travis.yml         @dluc @timlaverty

scripts/ @dluc @timlaverty @ppathan

app/com/microsoft/azure/iotsolutions/storageadapter/webservice/auth/ @dluc @timlaverty
